body {
    width: 1000px;
    margin: 0 auto;
    background-color: #F0C8BD;
    font-family: 'Times New Roman', Helvetica, sans-serif;
    line-height: 1.5em;
    font-size: 1.8em;
    text-align: justify;
}

h1 {
    text-align: center;
    line-height: 3em;
    margin: 0 auto;
}

h3 {
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
}

a {
    color: #000000;
    transition: 600ms color;
    text-decoration: none;
}

a:hover {
    color: #574b4b;
}

img {
    padding-right: 10px;
    padding-left: 10px;
    width: 250px;
    height: 250px;
}

footer {
    text-align: center;
}