body {
    background-color: #fff;
    border-top: 5px solid #ff4444;
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    transition: 600ms color;
    text-decoration: none;
}

a:hover {
    color: #666;
}

::selection { 
    color: #fff;
    background-color: #b6b3b3; 
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

#map {
    width: 100%;
    height: 300px;
    margin-top: 60px;
}

/* ==========================================================================
   box in map     
   ========================================================================== */

.container {
    position: relative;
}

.box {
    position: absolute;
    background-color: #aca4a4;
    color: #f5f5f5;
    border-radius: 20px 20px 20px 20px;
    padding: 20px;
    top: 80px; 
    right: 150px; 
    bottom: 40px;
    width: 150px;
    height: 120px;
}

/* ==========================================================================
   arrow top    
   ========================================================================== */

#arrow {
    position: fixed;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    right: 60px;
    bottom: 60px;
    z-index: 10;
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    line-height: 44px;
    overflow: hidden;
    display: none;
}
  
#arrow.show {
    display: block;
}

#arrow svg {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

/* ==========================================================================
   footer
   ========================================================================== */

footer {
    background-color: #ff4444;
    color: #f5f5f5;
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    width: 100%;
    height: 20px;
    padding-top: 10px;
}
   
.border-left {
    border-left: 1px solid #fff;
    padding-left: 5px;
    padding-right: 5px;
}

.link {
    text-decoration: none;
    color: #fff;
    transition: 600ms color;
}

/* ==========================================================================
   slider bar view
   ========================================================================== */

.catalog {
    display: flex;
    width: 100%;
}
  
.product {
    flex: 0 0 33.3%;
    text-align: center;
}
  
.product-image {
    height: 200px;
}
  
.product-title {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 21px;
    padding-bottom: 30px;
}

/* ==========================================================================
   slider
   ========================================================================== */

.main-carousel .carousel-cell {
    top: 35px;
    display: block;
    width: 33.3%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
}

.main-carousel .flickity-page-dots {
    bottom: auto;
    top: 30px;
}

/* ==========================================================================
   logo view
   ========================================================================== */

.flex {
    display: flex;
    align-items: center;
}

.flex-grow-0 {
    flex: 0;
}

.logo {
    padding-left: 40px;
}

/* ==========================================================================
   subpages links view
   ========================================================================== */

.flex-1 {
    flex: 1;
}

.text-right {
    text-align: right;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 60px;
}

.menu ul li a {
    font-family: sans-serif;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
.menu ul li a:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 5px;
    bottom: -5px;
    background-color: #fff;
    transition: 600ms all;
    left: 50%;
}
  
.menu ul li a:hover:after,
.menu ul li a.active:after{
    width: 100%;
    background-color: #ff4444;
    left: 0;
}
  
.menu ul li a:hover,
.menu ul li a.active {
    color: #ff4444;
}
  
/* ==========================================================================
   menu view
   ========================================================================== */

.selection { 
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.selection-text {
    flex: 1;
    padding-top: 140px;
    padding-left: 20px;
    text-align: left;
    font-family: sans-serif;
}

.selection-title {
    color: #008000;
    padding-bottom: 35px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

.selection-descr {
    padding-bottom: 20px;
    font-size: 0.9em;
}

.selection-price {
    font-family: sans-serif;
    text-align: right;
    padding-top: 5px;
    font-style: italic;
}

.upload {
    position: relative;
    margin: 0 auto;
    flex: 1;
    max-width: 350px; 
    max-height: 350px;
    top: 50px;
    text-align: center;
}

.upload-one {
    position: relative;
    margin: 0 auto;
    flex: 1;
    max-width: 350px;
    max-height: 350px;
    top: 50px;
    text-align: center;
}

.upload img:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}
  
.upload:hover img:nth-child(1) {
    opacity: 0;
}

.strong {
    font-weight: 700;
}

.padding-img {
    padding-left: 25px;
}

/* ==========================================================================
   index view
   ========================================================================== */

.index {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.index-img {
    position: relative;
    margin: 0 auto;
    flex: 1;
    max-width: 450px; 
    max-height: 450px;
    padding: 30px;
}

.indext-text {
    flex: 1;
    text-align: center;
}

.border-top {
    border-top: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1050px;
    margin: 0 auto;
}

.top {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    font-weight: bold;
    font-size: x-large;
    font-family: sans-serif;
}

.bot {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 30px;
}

/* ==========================================================================
   mobile styles
   ========================================================================== */
   
@media (max-width: 768px) {
    header .flex {
        flex-direction: column;
    }

    header .flex .flex-grow-0,
    header .flex .flex-1 {
        width: 100%;
    }

    header .flex .flex-1.text-right {
        text-align: left;
    }

    .menu ul li {
        display: block;
        margin: 7.5px 10px;
    }

    .menu ul li a {
        display: block;
        padding: 5px 15px;
        background-color: #f2f2f2;
        border-radius: 4px;
    }
}
