body {
    background-color: #a87486;
}

a {
    color: #000000;
    transition: 600ms color;
    text-decoration: none;
}

a:hover {
    color: #666;
}

::selection { 
    color: #fff;
    background-color: #000000; 
}