body {
    background-color: #fff;
    border-top: 5px solid #ff4444;
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    transition: 600ms color;
    text-decoration: none;
}

a:hover {
    color: #666;
}

::selection { 
    color: #fff;
    background-color: #000000; 
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    padding-left: 40px;
}

#map {
    width: 100%;
    height: 300px;
}

/* ==========================================================================
   main page view
   ========================================================================== */

.flex {
    display: flex;
    align-items: center;
}

.flex-grow-0 {
    flex: 0;
}

.flex-1 {
    flex: 1;
}

.text-right {
    text-align: right;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 60px;
}

.menu ul li a {
    font-family: sans-serif;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

/* ==========================================================================
   poke page view
   ========================================================================== */


/* ==========================================================================
   ramen page view
   ========================================================================== */


/* ==========================================================================
   sushi page view
   ========================================================================== */


/* ==========================================================================
   extra page view
   ========================================================================== */


/* ==========================================================================
   dezerty page view
   ========================================================================== */


/* ==========================================================================
   drinks page view
   ========================================================================== */

/* ==========================================================================
   mobile styles
   ========================================================================== */
   
@media (max-width: 768px) {
    header .flex {
        flex-direction: column;
    }

    header .flex .flex-grow-0,
    header .flex .flex-1 {
        width: 100%;
    }

    header .flex .flex-1.text-right {
        text-align: left;
    }

    .menu ul li {
        display: block;
        margin: 7.5px 10px;
    }

    .menu ul li a {
        display: block;
        padding: 5px 15px;
        background-color: #f2f2f2;
        border-radius: 4px;
    }
}
